:root {
  --backgroundColor: #16262e;
  --navbarColor1: #3b5f76;
  --navbarColor2: #3c7a89;
  --fontColor: #dbc2cf;
  --hoverColor: #9fa2b2;
}

.App {
  text-align: center;
}

body {
  background: var(--backgroundColor);
  color: var(--fontColor);
}

/* header */
nav {
  background-image: linear-gradient(var(--navbarColor1), var(--navbarColor2));
  color: var(--fontColor);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.my-name {
  font-size: 65px;
}

.navbar .container {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.nav-link {
  color: var(--fontColor);
  text-align: center;
}

.nav-link:hover {
  color: var(--hoverColor);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--fontColor);
}

/* about me page */
#myself {
  border-radius: 20px;
  border: 2px solid var(--fontColor);
}

#title-about {
  border: 3px double var(--navbarColor1);
  border-radius: 20px;
}

#my-title {
  font-size: 40px;
  color: var(--navbarColor2);
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about-me {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* portfolio page */
.hidden {
  visibility: hidden;
}

.projects {
  box-shadow: 0px 0px 15px 8px var(--navbarColor2);
}

.project-links a {
  color: var(--backgroundColor);
}

.project-links a:hover {
  color: var(--navbarColor1);
}

.card {
  background-color: #f3dce7;
  height: 390px;
}

.card-title {
  text-decoration: none;
  color: var(--backgroundColor);
  font-weight: 900;
  margin-bottom: 20px;
  font-family:'Courier New', Courier, monospace
}

.card-title:hover {
  color: var(--navbarColor1);
}

.card-body {
  color: var(--backgroundColor);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-text {
  color: var(--backgroundColor);
}

.faded {
  opacity: 25%;
}

/* contact page */
.form-label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.btn {
  background: var(--fontColor);
}

.btn:hover {
  background: var(--navbarColor2);
}

/* resume page */
.resume {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: var(--fontColor);
}

.resume:hover {
  color: var(--navbarColor2);
}

ul {
  list-style-type: none;
}

/* footer */
footer a {
  color: var(--hoverColor);
}

footer a:hover {
  color: var(--fontColor);
  transform: scale(1.5);
}