:root {
  --backgroundColor: #16262e;
  --navbarColor1: #3b5f76;
  --navbarColor2: #3c7a89;
  --fontColor: #dbc2cf;
  --hoverColor: #9fa2b2;
}

.App {
  text-align: center;
}

body {
  background: var(--backgroundColor);
  color: var(--fontColor);
}

nav {
  background-image: linear-gradient(var(--navbarColor1), var(--navbarColor2));
  color: var(--fontColor);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.my-name {
  font-size: 65px;
}

.navbar .container {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.nav-link {
  color: var(--fontColor);
  text-align: center;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--fontColor);
}

.nav-link:hover {
  color: var(--hoverColor);
}

.page-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

#myself {
  border-radius: 20px;
  border: 2px solid var(--fontColor);
}

footer a {
  color: var(--hoverColor);
}

footer a:hover {
  color: var(--fontColor);
  transform: scale(1.5);
}

.hidden {
  visibility: hidden;
}

.card-body {
  color: var(--backgroundColor);
  /* font-weight: bold; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-links a {
  color: var(--backgroundColor);
}

.project-links a:hover {
  color: var(--navbarColor1);
}

.card-title {
  text-decoration: none;
  color: var(--backgroundColor);
  font-weight: 900;
  margin-bottom: 20px;
  font-family:'Courier New', Courier, monospace
}

#title-about {
  border: 3px double var(--navbarColor1);
  border-radius: 20px;
}

#my-title {
  font-size: 40px;
  color: var(--navbarColor2);
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about-me {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-size: 25px; */
}

.card-title:hover {
  color: var(--navbarColor1);
}

.card-text {
  color: var(--backgroundColor);
}

.card {
  background-color: white;
  height: 390px;
}

.faded {
  opacity: 25%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */